@{
    ViewData["Title"] = "Configurar Juego";
}
    <form action='@Url.Action("Comenzar", "Home")' method="get" enctype="multipart/form-data">
        <div class="form-group text-light">
            
            <p>Ingrese el nombre de usuario:</p> 
            <input type="text" name="Username" required/><br/>
            Categorias:
            @foreach(Categorias p in ViewBag.ListaCategoria)
            {
                <p><input type="radio" name="IdCategoria" value="@p.IdCategoria" required/> <label>@p.Nombre</label></p>
            }
            <p><input type="radio" name="IdCategoria" value="-1"/> <label>Todos</label><br/></p>

            Dificultades:
            @foreach(Dificultades p in ViewBag.ListaDificultad)
            {
                <p><input type="radio" name="IdDificultad" value="@p.IdDificultad" required/> <label>@p.Nombre</label></p>
            }
            <p><input type="radio" name="IdDificultad" value="-1"/> <label>Todos</label><br/></p>
        </div>
        <button type="submit" class="btn btn-primary">Comenzar</button>
    </form>