@{
    ViewData["Title"] = "Juego";
}
<div class="text-light">
    <p class="fuente2">Nombre: @ViewBag.Username</p>
    <p class="fuente2">Puntaje actual: @ViewBag.PuntajeActual</p>

    <div class="container">
        <div class="text-center row fondoPreg">
            <h1 class="fuente2">@ViewBag.Enunciado</h1>
        </div>
        <div class="mb-4 foto row">
            <img src="/Imagenes/@ViewBag.Foto" class="w-50">
        </div>
        <div class="row tamRtas">
            @foreach(Respuestas p in ViewBag.Respuestas)
            {
                <div class="col-5 fondoRtas">
                    <a href='@Url.Action("VerificarRespuesta", "Home", new {IdPregunta = @p.IdPregunta ,IdRespuesta = @p.IdRespuesta, IdDificultad = @ViewBag.Dificultad})'>
                        <p class="fuente2 text-center resp">
                            @p.Contenido
                        </p>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
