@{
    ViewData["Title"] = "Configurar Juego";
}
<div class="text-light">
    <p>Nombre: @ViewBag.Username</p>
    <p>Puntaje actual: @ViewBag.PuntajeActual</p>


        <h1>@ViewBag.Enunciado</h1>
        @foreach(Respuestas p in ViewBag.Respuestas)
        {
            <a href='@Url.Action("VerificarRespuesta", "Home", new {IdPregunta = @p.IdPregunta ,IdRespuesta = @p.IdRespuesta})'/>@p.Contenido<br/>
        }
</div>